# Abaikan seluruh file dan folder di dalam project
*

# Pengecualian: jangan abaikan file .gitignore ini
!.gitignore

# Pengecualian: jangan abaikan folder praktikum7
!praktikum7/

# Abaikan seluruh isi di dalam folder praktikum7
praktikum7/*

# Pengecualian: HANYA boleh melacak file rsa_marimo.py di dalam praktikum7
!praktikum7/rsa_marimo.py

# Pengecualian: jangan abaikan folder praktikum9
!praktikum9/

# Abaikan seluruh isi di dalam folder praktikum9
praktikum9/*

# Pengecualian: HANYA boleh melacak file cipher9.py dan marimo_md5.py di dalam praktikum9
!praktikum9/cipher9.py
!praktikum9/marimo_md5.py

# Abaikan dokumen/jawaban UAS di folder docs
docs/


